{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
  <ul class="list-unstyled">
    <li class="col-md-3 odd"><a href="{% url "presupuestos:cliente_listar"  %}"><img src= "{% static "images/opcion_clientes.png"%}" data-toggle="tooltip" data-placement="right" title="Clientes" alt="Administrar clientes"></a></li>
    <li class="col-md-3 odd"><a href="{% url "presupuestos:presupuesto_listar"  %}"><img src= "{% static "images/opcion_presupuestos.png"%}" data-toggle="tooltip" data-placement="right" title="Presupuestos" alt="Administrar presupuestos"></a></li>
    <li class="col-md-3 odd"><a href="{% url "presupuestos:ordendetrabajo_listar"  %}"><img src= "{% static "images/opcion_orden_de_trabajo.png"%}" data-toggle="tooltip" data-placement="right" title="Órdenes de trabajo" alt="Administrar órdenes de trabajo"></a></li>    
    <li class="col-md-3 odd"><a href="{% url "presupuestos:muestra_listar"  %}"><img src= "{% static "images/opcion_muestra.png"%}" data-toggle="tooltip" data-placement="right" title="Muestras" alt="Administrar muestras"></a></li>    
  </ul>
</div>

{% endblock content %}