{% extends "menu.html" %}
{% load staticfiles %}
{% block content %}
<div class="container">
	<h2>Items</h2>
		<form method="get" action="/presupuestos/item/">
		<p><label for="id_q">Filtro (matriz, presupuesto, descripcion):</label>
		<input type="text" name="q" id="id_q" value="{{ query }}" />
		<input type="submit" value="Buscar" /></p>
		</form>	
  <table class="table table-hover">
    <thead>
      <tr>	
		<th>Presupuesto</th>
		<th>Numero de Item</th>
		<th>Descripcion</th>
		<th>Matriz</th>
		<th>Cantidad de muestra</th>
      </tr>
    </thead>
    <tbody>	 	
    {% for item in item_list %}
	<tr>
		<td>{{ item.presupuesto.referencia_completa}}</td>
		<td>{{ item.numero }}</td>
		<td>{{ item.descripcion }}</td>
		<td>{{ item.matriz }}</td>
		<td>{{ item.cantidadMuestra }}</td>
	</tr>
    {% endfor %}
    </tbody>
  </table>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="/presupuestos/item?q={{query}}&page={{ page_obj.previous_page_number }}">anterior</a>
              {% endif %}
              <span class="page-current">
                  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="/presupuestos/item?q={{query}}&page={{ page_obj.next_page_number }}">siguiente</a>
              {% endif %}
          </span>
      </div>
  {% endif %}	
</div>
{% endblock content %}
