{% extends "menu.html" %}
{% block content %}
<h1>Orden de trabajo</h1>
<form method="post">{% csrf_token %}
	{{ form.non_field_errors }}
    <p>
    {{ form.referencia_clave.errors }}
    <label for="{{ form.orden_trabajo.id_for_label }}">Referencia clave:</label> {{ form.referencia_clave }}
    </p>
	<p>
    <label>Referencia:</label> {{ form.referencia }}
    </p>   
    
    <p>
    {{ form.descripcion.errors }}
    <label for="{{ form.orden_trabajo.id_for_label }}">Descripcion:</label> {{ form.descripcion }}
    </p> 
    
    <p>
    {{ form.prioridad.errors }}
    <label for="{{ form.orden_trabajo.id_for_label }}">Prioridad:</label> {{ form.prioridad }}
    </p> 
    
    <p>
    {{ form.fecha_creacion.errors }}
    <label for="{{ form.orden_trabajo.id_for_label }}">Fecha de creacion:</label> {{ form.fecha_creacion }}
    </p> 
    
    <input type="submit" value="Confirmar" />
</form>
<script>
    $(document).ready(function(){
       //$('.datepicker').datepicker({});
	   $("[id^='id_fecha']").datepicker({ languaje: 'es', format: 'dd/mm/yyyy', startDate: '-1y'})
    });
</script>
{% endblock content %}
